@import "../../helpers/scss/mixins.scss";

.song,
.video,
.album {
  padding: 20px 26px;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;

  @supports (padding-left: env(safe-area-inset-left)) {
    @media screen and (orientation: landscape) {
      @include notch;
    }
  }

  @media (max-width: 600px) {
    padding: 20px 14px;
  }
}
