.content__header {
  padding-bottom: 6px;

  @media (max-width: 600px) {
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0;
    border-bottom: 0;

    .inline,
    > * {
      width: calc(50% - 10px);
      margin-left: calc(50% - 3px);
    }
  }

  @at-root {
    .dark & {
      @media (max-width: 600px) {
        border-bottom: 0;
      }
    }

    &--video {
      p {
        @include line-height;
      }
    }
  }
}
