@import '../../helpers/scss/mixins.scss';

.content__header {
  padding-bottom: 9px;
  @include border-light;

  p {
    @include line-height;
  }

  @media (max-width: 600px) {
    width: 100%;
    min-width: 320px;
    position: absolute;
    top: 16px;
    left: 0;
    border-bottom: 0;

    .inline,
    > * {
      width: calc(100% - 162px);
      margin-left: 148px;
    }
  }

  @at-root {
    .dark & {
      @include border-dark;

      @media (max-width: 600px) {
        border-bottom: 0;
      }
    }

    &--video {
      p {
        @include line-height;
      }
    }
  }
}
