:root {
  --color-light: #000;
  --color-dark: #fff;
  --background-light: #fdfdfd;
  --background-dark: #131a20;
  --headers-color: #f78a9e;
  --link-color: #ec445a;
  --border-light: #ddd;
  --border-dark: #444;
}
