.nav--bottom {
  z-index: 100;
  padding-bottom: env(safe-area-inset-bottom);
  width: 100%;
  min-width: 320px;
  background-color: #fdfdfdf4;
  border-top: 1px solid var(--border-light);
  position: fixed;
  bottom: 0;

  > div {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1300px;
  }

  .home {
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.34);
    transition: all 200ms ease-in-out;
    border: 0;
    font-size: 20px;
    margin: 10px;
    border-radius: 20px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 40px;
    color: #fff;
    background-color: var(--link-color);

    &:active {
      transform: scale(0.92);
    }

    &.active {
      border-radius: 4px;

      &:active {
        transform: scale(1);
      }
    }

    span {
      padding-left: 10px;
      font-weight: 500;

      @media (max-width: 600px) {
        display: none;
      }
    }

    @media (max-width: 600px) {
      padding: 0 9px;
    }
  }

  @at-root {
    .dark & {
      background-color: #131a20f4;
      border-top: 1px solid var(--border-dark);
    }
  }
}
