.container {
  margin: 0 12px;

  &--sm {
    width: calc(100% / 3 - 24px);

    @media (max-width: 600px) {
      width: 100%;
      margin: 0;
    }

    aside {
      z-index: 100;
      position: sticky;
      top: 20px;
    }
  }

  &--md {
    width: calc(100% / 3 * 2 - 24px);

    @media (max-width: 600px) {
      width: 100%;
      margin: 0;
    }
  }

  &--horizontal {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(100% - 54px);
    align-content: flex-start;
    vertical-align: bottom;
    margin: 0 auto;
    padding-bottom: 10px;

    .item--song {
      &:nth-last-child(3n + 1) {
        border-bottom: 0;
      }
    }

    @media (max-width: 600px) {
      width: calc(100% - 30px);
    }
  }

  &--vertical {
    padding: 0 7px;
    margin-bottom: 6px;
  }

  @media (max-width: 600px) {
    margin: 0;
  }
}
