.container--sm {
  width: calc(100% / 3 - 24px);
}

.container--md {
  width: calc(100% / 3 * 2 - 24px);
}

.container {
  margin: 0 12px;

  @media (max-width: 600px) {
    margin: 0;
  }
}

.container--horizontal {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: calc(100% - 54px);
  align-content: flex-start;
  vertical-align: bottom;
  margin: 0 auto;
  padding-bottom: 10px;

  @media (max-width: 600px) {
    width: calc(100% - 30px);
  }
}

.container--vertical {
  padding: 0 7px;
}

@media (max-width: 600px) {
  .container--sm,
  .container--md {
    width: 100%;
    margin: 0;
  }
}
