@import "../../helpers/scss/mixins.scss";

.container {
  margin: 0 12px;

  &--sm {
    width: calc(100% / 3 - 24px);

    @media (max-width: 600px) {
      width: 100%;
      margin: 0;
    }

    aside {
      z-index: 100;
      position: sticky;
      top: 20px;

      @media (max-width: 600px) {
        height: calc(100vw / 2 - 34px);
        width: calc(100vw / 2 - 34px);
      }
    }
  }

  &--md {
    width: calc(100% / 3 * 2 - 24px);

    @media (max-width: 600px) {
      width: 100%;
      margin: 0;
    }
  }

  &--horizontal {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(100% - 54px);
    align-content: flex-start;
    vertical-align: bottom;
    margin: 0 auto;
    padding-bottom: 10px;

    .item--song {
      &:last-child,
      &:nth-child(3n) {
        border-bottom: 0;
      }
    }

    @media (max-width: 600px) {
      width: calc(100% - 30px);
    }
  }

  &--vertical {
    margin: 14px auto 6px auto;
    max-width: 1300px;
    padding: 0 18px;

    @supports (padding-left: env(safe-area-inset-left)) {
      @include notch(18px);
    }

    .item--song {
      &:last-child {
        border-bottom: 0;
      }
    }

    @media (max-width: 600px) {
      padding: 0 6px;
    }
  }

  @media (max-width: 600px) {
    margin-left: 0;
    margin-right: 0;
  }
}
