.list__item--song {
  display: flex;
  align-items: center;
  padding: 6px 3px;
  border-bottom: 1px solid var(--border-light);
  overflow: hidden;

  div {
    overflow: hidden;
  }

  .artist {
    font-size: 11px;
  }
}

.list__link--song {
  font-weight: 600;
}

.dark .list__item--song {
  border-bottom: 1px solid var(--border-dark);
}
