.list__item {
  &--song {
    display: flex;
    align-items: center;
    padding: 6px 3px;
    border-bottom: 1px solid var(--border-light);
    overflow: hidden;

    div {
      overflow: hidden;
    }

    .artist {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 11px;
    }
  }

  @at-root {
    .dark &--song {
      border-bottom: 1px solid var(--border-dark);
    }
  }
}
