@import "../../helpers/scss/mixins.scss";

.header__title {
  height: 60px;
  background-color: #fdfdfdf4;
  z-index: 100;
  position: sticky;
  top: 0;
  @include border-light;

  h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
    padding: 12px 26px;
    max-width: 1300px;

    @media (max-width: 600px) {
      padding: 12px 14px;
    }

    @supports (padding-left: env(safe-area-inset-left)) {
      @media screen and (orientation: landscape) {
        @include notch;
      }
    }
  }

  @media (max-width: 600px) {
    height: 55px;
  }

  @at-root {
    .dark & {
      background-color: #131a20f4;
      @include border-dark;
    }
  }
}
