.track {
  display: inline-flex;
  align-items: center;
  width: 250px;
  margin: 4px 10px;
  overflow: hidden;
}

.collection {
  display: inline-block;
  margin: 4px 10px;
  overflow: hidden;
  width: 100px;
}

.collection__img {
  border-radius: 2px;
}

.track__img {
  border-radius: 2px;
  height: 50px;
  width: auto;
}

.track__primary {
  margin-right: 8px;
}
