@import '../../helpers/scss/mixins.scss';

.item {
  &--song {
    height: 58px;
    display: inline-flex;
    align-items: center;
    width: 280px;
    margin: 0 8px;
    @include border-light;
  }

  &--album,
  &--video {
    display: inline-block;
    width: 132px;
    margin: 3px 8px 12px 8px;
  }

  @at-root {
    .album &--video {
      width: calc(100% / 3 - 16px);
    }
  }
}

.item--album:nth-child(2n),
.container--horizontal .item--video {
  margin-bottom: 0;
}

.secondary--song {
  width: 226px;
}

.container {
  &--vertical {
    .item--song {
      width: calc(100% / 3 - 16px);
    }

    .secondary--song {
      width: calc(100% - 60px);
    }

    .item--album,
    .item--video {
      width: calc(100% / 8 - 16px);
    }
  }

  &--horizontal .item--song:nth-child(n + 1):nth-child(-n + 3),
  &--horizontal .item--album:nth-child(n + 1):nth-child(-n + 2),
  &--horizontal .item--video:first-child {
    margin-left: 0;
  }
}

.primary {
  &--song,
  &--album,
  &--video {
    position: relative;
  }

  &--song {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    margin-right: 8px;
  }

  &--album,
  &--video {
    display: flex;
    justify-content: center;
    height: 0;
    margin-bottom: 5px;
  }

  &--album {
    padding-top: 100%;
  }

  &--video {
    padding-top: calc(100% / 16 * 9);
  }
}

.img {
  &--song,
  &--album,
  &--video {
    position: absolute;
    border-radius: 4px;
    max-width: 100%;
    max-height: 100%;
  }

  &--album,
  &--video {
    bottom: 0;
  }

  &--album {
    object-fit: contain;
  }

  &--video {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .container--vertical .item--album,
  .container--vertical .item--video {
    width: calc(100% / 7 - 16px);
  }
}

@media (max-width: 1000px) {
  .container--vertical .item--song {
    width: calc(100% / 2 - 16px);
  }

  .container--vertical .item--album,
  .container--vertical .item--video {
    width: calc(100% / 6 - 16px);
  }

  .album .item--video {
    width: calc(100% / 2 - 16px);
  }
}

@media (max-width: 900px) {
  .container--vertical .item--album,
  .container--vertical .item--video {
    width: calc(100% / 5 - 16px);
  }
}

@media (max-width: 780px) {
  .container--vertical .item--song {
    width: calc(100% - 16px);
  }

  .container--vertical .item--album,
  .container--vertical .item--video {
    width: calc(100% / 4 - 16px);
  }
}

@media (max-width: 600px) {
  .container--vertical .item--album,
  .container--vertical .item--video {
    width: calc(100% / 3 - 16px);
  }

  .album .item--video {
    width: calc(100% / 2 - 16px);
  }
}

@media (max-width: 420px) {
  .container--vertical .item--album,
  .container--vertical .item--video {
    width: calc(100% / 2 - 16px);
  }

  .album .item--video {
    width: calc(100% - 16px);
  }
}
