.item--song {
  height: 58px;
  display: inline-flex;
  align-items: center;
  width: 280px;
  margin: 0px 8px;
}

.container--vertical .item--song {
  width: calc(100% / 3 - 16px);
}

.container--horizontal .item--song:nth-child(n + 1):nth-child(-n + 3),
.container--horizontal .item--album:nth-child(n + 1):nth-child(-n + 2),
.container--horizontal .item--video:first-child {
  margin-left: 0;
}

.primary--album {
  position: relative;
  display: flex;
  justify-content: center;
  height: 0px;
  padding-top: 100%;
  margin-bottom: 4px;
}

.item--album,
.item--video {
  display: inline-block;
  width: 132px;
  margin: 3px 8px 12px 8px;
}

.container--vertical .item--album,
.container--vertical .item--video {
  width: calc(100% / 8 - 16px);
}

.item--album:nth-child(2n) {
  margin-bottom: 0px;
}

.img--video {
  position: relative;
  border: 1px solid var(--border-light);
  margin-bottom: 6px;
  border-radius: 4px;
  height: 0px;
  top: 0px;
  overflow: hidden;
  padding-top: calc(100% / 16 * 9);
  width: 100%;
  display: flex;
}

.img--video img {
  width: 100%;
  height: 100%;
  justify-content: center;
  object-fit: cover;
  top: 0px;
  position: absolute;
}

.primary--song {
  width: 50px;
  height: 50px;
  position: relative;
  margin-right: 8px;
}

.secondary--song {
  width: 222px;
}

.img--song,
.img--album {
  border: 1px solid var(--border-light);
  position: absolute;
  border-radius: 4px;
  max-width: 100%;
  max-height: 100%;
}

.dark .img--song,
.dark .img--album,
.dark .img--video {
  border: 1px solid var(--border-dark);
}

.container--vertical {
  padding: 0px 6px;
}

.container--vertical .secondary--song {
  width: calc(100% - 60px);
}

.img--album {
  bottom: 0px;
  object-fit: contain;
}

.album .item--video {
  width: calc(100% / 3 - 16px);
}

@media (max-width: 1100px) {
  .container--vertical .item--album,
  .container--vertical .item--video {
    width: calc(100% / 7 - 16px);
  }
}

@media (max-width: 1000px) {
  .container--vertical .item--song {
    width: calc(100% / 2 - 16px);
  }

  .container--vertical .item--album,
  .container--vertical .item--video {
    width: calc(100% / 6 - 16px);
  }

  .album .item--video {
    width: calc(100% / 2 - 16px);
  }
}

@media (max-width: 900px) {
  .container--vertical .item--album,
  .container--vertical .item--video {
    width: calc(100% / 5 - 16px);
  }
}

@media (max-width: 780px) {
  .container--vertical .item--song {
    width: calc(100% - 16px);
  }

  .container--vertical .item--album,
  .container--vertical .item--video {
    width: calc(100% / 4 - 16px);
  }

  .album .item--video {
    width: calc(100% - 16px);
  }
}

@media (max-width: 600px) {
  .container--vertical .item--album,
  .container--vertical .item--video {
    width: calc(100% / 3 - 16px);
  }

  .album .item--video {
    width: calc(100% / 2 - 16px);
  }
}

@media (max-width: 420px) {
  .container--vertical .item--album,
  .container--vertical .item--video {
    width: calc(100% / 2 - 16px);
  }

  .album .item--video {
    width: calc(100% - 16px);
  }
}
