.list__item--song {
  display: flex;
  align-items: center;
  padding: 6px 3px;
  border-bottom: 1px solid var(--border-light);
  overflow: hidden;
}

.list__item--song > div {
  overflow: hidden;
}

.dark .list__item--song {
  border-bottom: 1px solid var(--border-dark);
}

.list__item--song .artist {
  font-size: 11px;
}

.list__link--song {
  font-weight: 500;
  font-size: 17px;
}

.list__item--video {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  width: calc(100% / 3 - 20px);
}

.list__item--video a {
  max-width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.index {
  text-align: center;
  min-width: 40px;
}
