.main {
  padding-bottom: 60px;
  padding-bottom: calc(60px + env(safe-area-inset-bottom));
}

.grid--vertical {
  padding-top: 14px;
  border-bottom: 0px !important;
}

.grid--vertical .track {
  width: calc(100% - 20px);
}

.grid--vertical .track:last-child {
  border-bottom: 0;
}

.track {
  border-bottom: 1px solid #ddd;
}

.dark .track {
  border-bottom: 1px solid #444;
}

.songs__container .track:nth-last-child(-n + 4) {
  border-bottom: 0;
}

.container--sm aside {
  z-index: 200;
  position: sticky;
  position: -webkit-sticky;
  top: 20px;
}

.content__header {
  border-bottom: 1px solid var(--border-light);
  padding-bottom: 6px;
}

.list__link--artist,
.list__link--album,
.list__link--video,
.content__link--artist,
.content__link--album {
  margin: 4px 0;
  color: var(--link-color);
  font-weight: 700;
}

.about {
  margin: 4px 0;
}

.dark .content__header {
  border-bottom: 1px solid var(--border-dark);
}

.grid {
  max-width: 1250px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  margin: 0 auto;
  border-bottom: 1px solid var(--border-light);
}

.grid:last-child,
.dark .grid:last-child {
  border-bottom: 0px;
}

.grid--vertical .albums__container {
  width: auto;
}

.dark .grid {
  border-bottom: 1px solid var(--border-dark);
}

.info__title,
.grid__title {
  font-size: 24px;
  margin: 10px 26px;
}

.songs__container,
.videos__container,
.albums__container {
  width: 1250px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 10px;
}

.album .videos__container {
  width: auto;
}

.container--vertical {
  margin-bottom: 6px;
}

.container--vertical .list__link--artist,
.albums__container .list__link--album,
.songs__container .list__link--song,
.videos__container .list__link--video {
  margin: 0;
  font-weight: 600;
}

.container--vertical .track .list__link--album,
.container--vertical .list__link--artist,
.songs__container .list__link--album,
.albums__container .list__link--artist,
.videos__container .list__link--artist {
  font-weight: 400;
  font-size: 14px;
  color: var(--headers-color);
}

.header__title {
  background-color: #fdfdfdf4;
  padding-top: 3px;
  z-index: 100;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  border-bottom: 1px solid var(--border-light);
}

.header__title h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto;
  padding: 10px 26px;
  max-width: 1250px;
}

@supports (padding-left: env(safe-area-inset-left)) {
  .header__title h2,
  .grid__title {
    width: 100%;
    padding-left: calc(26px + env(safe-area-inset-left));
    padding-right: calc(26px + env(safe-area-inset-right));
    margin-left: auto;
    margin-right: auto;
  }

  .songs__container,
  .albums__container,
  .videos__container {
    padding-left: auto;
    padding-right: auto;
  }

  .more,
  .grid {
    margin-left: auto;
    margin-right: auto;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}

.dark .header__title {
  background-color: #131a20f4;
  border-bottom: 1px solid var(--border-dark);
}

.grid .video {
  padding: 0px;
}

.song,
.video,
.album {
  padding: 0px 26px;
  margin: 20px auto;
  max-width: 1250px;
  display: flex;
  flex-wrap: wrap;
}

.title--video,
.content__header .title {
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button--play {
  transition: all 120ms ease;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.34);
  height: 60px;
  width: 60px;
  right: 25px;
  bottom: 25px;
  border: 0;
  position: absolute;
  border-radius: 30px;
  font-size: 28px;
  text-align: center;
  opacity: 0.8;
  background-color: var(--link-color);
  color: #fff;
  cursor: pointer;
}

.button--play.played {
  border-radius: 4px;
}

.track__primary .button--play {
  height: 30px;
  width: 30px;
  font-size: 16px;
  right: 10px;
  bottom: 14px;
}

.button--play:active {
  transform: scale(0.86);
}

.button--play:hover {
  opacity: 1;
}

.dark .button--play {
  box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.34);
}

@media screen and (max-width: 600px) {
  .songs__container,
  .videos__container,
  .albums__container {
    width: 1224px;
  }

  .grid--vertical .track {
    width: 100%;
    margin: 3px auto;
  }

  .title {
    font-size: 22px;
  }

  .button--play {
    height: 40px;
    width: 40px;
    font-size: 20px;
    right: 10px;
    bottom: 14px;
  }

  .content__header,
  .dark .content__header {
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    border-bottom: 0;
  }

  .content__header > * {
    width: calc(50% - 10px);
    margin-left: calc(50% - 3px);
  }

  .song .container--sm,
  .album .container--sm {
    border-bottom: 1px solid var(--border-light);
  }

  .dark .song .container--sm,
  .dark .album .container--sm {
    border-bottom: 1px solid var(--border-dark);
  }

  .song,
  .video,
  .album {
    overflow-x: hidden;
    padding: 0px 14px;
  }

  .header__title h2 {
    padding: 10px 14px;
  }

  .songs__container,
  .videos__container,
  .albums__container {
    padding-left: 4px;
    padding-right: 4px;
  }

  .grid__title {
    padding: 0;
    margin: 10px 14px;
  }
}
