.dark {
  .item--song,
  .album .grid {
    border-bottom: 1px solid var(--border-dark);
  }
}

.scroller {
  &--songs {
    max-height: 214px;
  }

  &--albums {
    max-height: 414px;
  }

  &--videos {
    max-height: 154px;
  }
}

.list__link {
  &--artist,
  &--song,
  &--album,
  &--video {
    color: var(--link-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  &--song {
    font-weight: 600;
  }
}

.content__link {
  &--album,
  &--artist {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
    overflow: hidden;
  }
}

.artist__info {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
}

.container--vertical .item--song .list__link--album,
.container--vertical .list__link--artist,
.container--horizontal .list__link--album,
.item--album .list__link--artist,
.item--video .list__link--artist {
  font-weight: 400;
  font-size: 13px;
  color: var(--headers-color);
}

.inline .list__link--album,
.item--album .list__link--album,
.item--song .list__link--song {
  color: var(--link-color);
  font-size: 16px;
  margin: 0;
  font-weight: 600;
}

.index {
  text-align: center;
  min-width: 40px;
}

@supports (padding-left: env(safe-area-inset-left)) {
  .main > .grid {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}

@media (max-width: 600px) {
  .song .container--sm,
  .album .container--sm {
    border-bottom: 1px solid var(--border-light);
  }

  .dark .song .container--sm,
  .dark .album .container--sm {
    border-bottom: 1px solid var(--border-dark);
  }
}
