:root {
  --headers-color: #f78a9e;
  --link-color: #ec445a;
  --border-light: #ddd;
  --border-dark: #444;
}

body {
  background-color: #fdfdfd;
  color: #000;

  &.dark {
    background-color: #131a20;
    color: #fff;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link {
  display: inline-block;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  margin: 0;
  color: var(--link-color);
  font-size: 130px;

  @media (max-width: 600px) {
    font-size: 80px;
  }
}

h2 {
  margin-bottom: 10px;
  color: var(--headers-color);
  font-size: 30px;

  @media (max-width: 600px) {
    font-size: 26px;
  }
}

h3 {
  color: var(--link-color);
}

.artwork {
  background-color: #0c0c0c;
  width: 100%;
  height: 0;
  padding-top: 100%;
  border-radius: 4px;
  overflow: hidden;
  transform: translateZ(0);

  img {
    top: 0;
    position: absolute;
    object-fit: contain;
    height: 100%;
    width: 100%;
  }
}

.img--song,
.img--album,
.img--video,
.artwork {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.34);
}

.dark {
  .img--song,
  .img--album,
  .img--video,
  .artwork {
    box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.34);
  }
}

aside {
  @media (max-width: 600px) {
    width: calc(100% / 2 - 20px);
    margin-bottom: 14px;
    top: 0;
  }
}
