:root {
  --headers-color: #f78a9e;
  --link-color: #ec445a;
  --border-light: #ddd;
  --border-dark: #444;
}

body {
  background-color: #fdfdfd;
  color: #000;
}

.dark {
  background-color: #131a20;
  color: #fff;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  outline: 0px;
}

.link {
  display: inline-block;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.light {
  font-weight: 400;
}

h1 {
  margin: 0px;
  color: var(--link-color);
  font-size: 130px;
}

h2 {
  margin-bottom: 10px;
  color: var(--headers-color);
  font-size: 30px;
}

h3 {
  color: var(--link-color);
}

video {
  background-color: #0c0c0c;
  border-radius: 4px;
  width: 100%;
}

.container--sm {
  width: calc(100% / 3 - 24px);
}

.container--md {
  width: calc(100% / 3 * 2 - 24px);
}

.container {
  margin: 0px 12px;
}

.content {
  position: relative;
  width: 100%;
}

.artwork {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px;
}

video,
.artwork {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.34);
}

.dark video,
.dark .artwork {
  box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.34);
}

.explicit::before {
  margin: 0px 8px;
  color: #fff;
  content: 'E';
  background-color: var(--headers-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 10px;
}

.content__header--video span.explicit::before,
.content__header span.explicit::before {
  width: 21px;
  height: 21px;
  font-size: 15px;
}

.dark .explicit::before {
  color: #21272d;
}

.content__link--album,
.content__link--artist {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.content__link--album {
  overflow: hidden;
}

.list__link--artist,
.list__link--song,
.list__link--album,
.list__link--video {
  color: var(--link-color);
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  max-width: 100%;
}

.inline {
  max-width: 1250px;
  margin: 0px auto 4px auto;
  position: relative;
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  h1 {
    font-size: 80px;
  }

  .container {
    margin: 0px;
  }

  .content__header--video span.explicit::before,
  .content__header span.explicit::before {
    margin: 0px 6px;
    width: 16px;
    height: 16px;
    font-size: 10px;
  }

  h2 {
    font-size: 26px;
  }

  .container--sm,
  .container--md {
    width: 100%;
    margin: 0px;
  }

  aside {
    width: calc(100% / 2 - 20px);
    margin-bottom: 14px;
    top: 0px;
  }

  video {
    margin-bottom: 14px;
  }
}
